<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<!--top logo button-->
		<%= link_to "sample.app", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<!--home link button-->
				<li><%= link_to "Home",		root_path	%></li>
				<!--help link button-->
				<li><%= link_to "Help",		help_path	%></li>
				<% if logged_in? %>
					<!--users link button-->
					<li><%= link_to "Users", '#' %></li>
					<!--create dropdown view-->
					<li class= "dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account<b class="caret"></b>
						</a>
						<!--setting dropdown contents-->
						<ul class="dropdown-menu">
							<!--profile link button-->
							<li><%= link_to "Profile", current_user %></li>
							<!--setting link button-->
							<li><%= link_to "Settings", '#' %></li>
							<li class="divider"></li>
							<!--logout link button-->
							<li><%= link_to "Log out", logout_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					<!--login link button-->
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
